# ranger
.config/ranger/__pycache__/*
.config/ranger/plugins/__pycache__/*
.config/ranger/colorschemes/__pycache__/*

# mpv & mpd
.config/mpv/watch_later/*
.config/mpd/playlists

#nvim
.config/nvim/autoload/plugged
.config/nvim/session
tags
*.log

# zsh
.config/zsh/.zcompdump
.config/zsh/.zcompdump-falcon1-5.8

# passwords
passwords
passwords.gpg

# mail profies
profiles/
