Sxiv.background: #0f111a
Sxiv.foreground: #e5e9f0

! Dracula Xresources palette
/* *.foreground: #F8F8F2 */
/* *.background: #282A36 */
/* *.color0:     #000000 */
/* *.color8:     #4D4D4D */
/* *.color1:     #FF5555 */
/* *.color9:     #FF6E67 */
/* *.color2:     #50FA7B */
/* *.color10:    #5AF78E */
/* *.color3:     #F1FA8C */
/* *.color11:    #F4F99D */
/* *.color4:     #BD93F9 */
/* *.color12:    #CAA9FA */
/* *.color5:     #FF79C6 */
/* *.color13:    #FF92D0 */
/* *.color6:     #8BE9FD */
/* *.color14:    #9AEDFE */
/* *.color7:     #BFBFBF */
/* *.color15:    #E6E6E6 */

! Material Ocean
*background:  #0f111a
*foreground:  #e5e9f0
*color0:  #3B4252
*color1:  #BF616A
*color2:  #A3BE8C
*color3:  #EBCB8B
*color4:  #81A1C1
*color5:  #B48EAD
*color6:  #88C0D0
*color7:  #E5E9F0
*color8:  #4C566A
*color9:  #BF616A
*color10:  #A3BE8C
*color11:  #EBCB8B
*color12:  #81A1C1
*color13:  #B48EAD
*color14:  #88C0D0
*color15:  #B48EAD

/* dwm.normbgcolor:      #FF5555 */
/* dwm.normbordercolor:  #50FA7B */
/* dwm.normfgcolor:      #F1FA8C */
/* dwm.selbgcolor:       #BD93F9 */
/* dwm.selbordercolor:   #FF79C6 */
/* dwm.selfgcolor:       #8BE9FD */

/* dwm.normfgcolor: "#deeaf6" */
/* dwm.normbgcolor: "#4d4978" */
/* dwm.normbordercolor: "#9ba3ac" */
/* dwm.selfgcolor: "#deeaf6" */
/* dwm.selbgcolor: "#90CBFE" */
/* dwm.selbordercolor: "#deeaf6" */
/* dwm.urgfgcolor: "#deeaf6" */
/* dwm.urgbgcolor: "#C9B0EA" */
/* dwm.urgbordercolor: "#C9B0EA" */
