#!/bin/bash

# verbose aliases
alias rm="rm -vi" \
    ln="ln -v" \
    cp="cp -iv" \
    mv="mv -iv" \
    less="less -I" \
    mkd="mkdir -pv"

# git aliases
alias g="git" \
    ga="git add" \
    gd="git diff" \
    gp="git push" \
    gr="git reset" \
    gs="git status" \
    gc="git commit" \
    gre="git remote" \
    gch="git checkout"

# ls aliases
alias l="ls -A" \
    ll='ls -ahlF'

# colorize aliases
alias ls='ls --color=auto' \
    grep='grep --color=auto' \

# cd aliases
alias ..="cd .." \
    chd="cd $HDD" \
    ...="cd ../.." \
    cco="cd $HDD/Code" \
    cfg="cd $HOME/.config" \
    cdd="cd $HDD/Documents" \
    cdo="cd $HOME/Downloads" \
    csc="cd $HDD/screenshots" \
    cwal="cd $HDD/wallpapers"

# ranger aliases
alias rh="ranger $HOME" \
    rr="ranger $HDD" \
    rco="ranger $HDD/Code" \
    rmo="ranger $HDD/movies" \
    rim="ranger $HDD/Images" \
    rlo="ranger $HOME/.local" \
    rd="ranger $HDD/Documents" \
    rfg="ranger $HOME/.config" \
    rdo="ranger $HOME/Downloads" \
    rsc="ranger $HDD/screenshots" \
    rwal="ranger $HDD/wallpapers"

# pacman aliases
alias p="doas pacman" \
    pacorphan="pacman -Qtdq" \
    pacins='doas pacman -S $(pacman -Ssq | fzf | tr -d "\n")' \
    pacsort=" pacman -Qi | awk '/^Name/{name=$3} /^Installed Size/{print $4$5, name}' | sort -rh | bat" \
    pacls="pacman -Qq | fzf --preview 'pacman -Qil {}' --layout=reverse --bind 'enter:execute(pacman -Qil {} | less)'"

# mining
alias xmr="doas xmrig"

# program aliases
alias v="nvim" \
    r="ranger" \
    nb="newsboat"\
    ncp="ncmpcpp"\
    py="python3" \
    ka="killall" \
    ipy="ipython" \
    sv="doas nvim" \
    python="python3" \
    sn="doas -E nvim" \
    yout="pipe-viewer" \
    ws="watch sensors" \
    sudb="doas updatedb" \
    ta="tmux attach-session" \
    jup="jupyter notebook & disown" \
    startx="startx ~/.config/x11/xinitrc"

# misc
alias pop="popd" \
    push="pushd" \
    fin="ls -A | grep -i" \
    fig="figlet -f ansishadow" \
    caps="xdotool key Caps_Lock" \
    notes="nvim $HDD/Code/vimwiki/index.md" \
    pixel3a="$HOME/Android/Sdk/emulator/emulator -avd Pixel_3a_API_28 -gpu host" \
    cargoup="cargo install --list | grep -v '^ ' | cut -d' ' -f1 | xargs cargo install"
