[Desktop Entry]
Version=1.0
Type=Application
Name=Android Studio
Exec="/home/jedi/.local/src/android-studio/bin/studio.sh" %f
Icon=/home/jedi/.local/src/android-studio/bin/studio.png
Categories=Development;IDE;
Terminal=false
StartupNotify=true
StartupWMClass=jetbrains-android-studio
Name[en_GB]=android-studio.desktop
